<footer>
                <hr>
                <nav class="MELLO_foot">
                    <a class="MELLO_footer" href="<%= paths.agb %>">Terms of use</a>
                    <a class="MELLO_footer" href="<%= paths.impressum %>">Impressum</a>
                    <a class="MELLO_footer" href="<%= paths.info %>" >Info</a>
                    <a class="MELLO_footer" href="<%= paths.updateLog %>" >Update Log</a>
                    <a class="MELLO_footer" href="<%= paths.feedback %>" >Give us Feedback!</a>
                </nav>
            </footer>
        </div>
    </body>
</html>
