<% var user=isAuth; var title="AGB"; var designFolder=thisUser.theme%>
<% if(user) { %>
<%- include ../parts/header %>
<%- include ../parts/importDesign %>
<% } else { %>
<%- include ../parts/headerLogin %>
<%- include ../parts/importDesignLogin%>
<% } %>
<div class="MELLO_regbody">
    <h1>Something went wrong!</h1>
    <h2><%= errmsg %></h2>
    
</div>
<% if(user) { %>
<%- include ../parts/footer %>
<% } else { %>
<%- include ../parts/footerLogin %>
<% } %>
